# Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

# Getting Data Ready

In [2]:
df = pd.read_csv('toronto.csv',header=None)
df.columns=["Postalcode","Borough","Neighbourhood"]
indexNames = df[ df['Borough'] =='Not assigned'].index
df.drop(indexNames , inplace=True)
df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']
result = df.groupby(['Postalcode','Borough'], sort=False).agg( ', '.join)
df_new=result.reset_index()
df_new.head(15)

    Postalcode         Borough                                      Neighbourhood
0   Postalcode         Borough                                       Neighborhood
1        M1A\n  Not assigned\n                                     Not assigned\n
2        M1B\n   Scarborough\n                                     Malvern, Rouge
3        M1C\n   Scarborough\n             Rouge Hill, Port Union, Highland Creek
4        M1E\n   Scarborough\n                  Guildwood, Morningside, West Hill
5        M1G\n   Scarborough\n                                             Woburn
6        M1H\n   Scarborough\n                                          Cedarbrae
7        M1J\n   Scarborough\n                                Scarborough Village
8        M1K\n   Scarborough\n        Kennedy Park, Ionview, East Birchmount Park
9        M1L\n   Scarborough\n                    Golden Mile, Clairlea, Oakridge
10       M1M\n   Scarborough\n    Cliffside, Cliffcrest, Scarborough Village West
11       M1N\n   Scarborough\n                        Birch Cliff, Cliffside West
12       M1P\n   Scarborough\n  Dorset Park, Wexford Heights, Scarborough Town...
13       M1R\n   Scarborough\n                                  Wexford, Maryvale
14       M1S\n   Scarborough\n                                          Agincourt

Reading the Toronto.csv which created on Part 1 Notebook

# Use the Geocoder package or the csv file to create dataframe with longitude and latitude values

In [5]:
df_lon_lat = pd.read_csv('Toronto_long_lat_data.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
df_lon_lat.columns=['Postalcode','Latitude','Longitude']

In [7]:
df_lon_lat.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [11]:
Toronto_df = pd.merge(df_new,df_lon_lat[['Postalcode','Latitude', 'Longitude']],on='Postalcode')
Toronto_df

Empty DataFrame
Columns: [Postalcode, Borough, Neighbourhood, Latitude, Longitude]
Index: []